<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="/static/mooncake/media/favicon.ico" rel="SHORTCUT ICON">

        <title>Moon Cake Delivery</title>

        <!-- Bootstrap core CSS -->
        <link href="/static/mooncake/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/static/mooncake/css/full-slider.css" rel="stylesheet">

        <link href="/static/mooncake/css/ads_modal.css" rel="stylesheet">
        <link href="/static/mooncake/css/login-register.css" rel="stylesheet" />
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link href="/static/mooncake/break-animate/css/style.css" rel="stylesheet" />
        <link href="/static/mooncake/auto-typing/css/style.css" rel="stylesheet" />
        <link href="/static/mooncake/css/recog.css" rel="stylesheet">





    <link rel="stylesheet" type="text/css" href="/static/mooncake/page-loading/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/static/mooncake/page-loading/css/component.css" />

        <!-- Bootstrap core JavaScript -->
        <script src="/static/mooncake/vendor/jquery/jquery.min.js"></script>
        <script src="/static/mooncake/vendor/popper/popper.min.js"></script>
        <script src="/static/mooncake/vendor/bootstrap/js/bootstrap.js"></script>
        <script src="/static/mooncake/js/prepare.js"></script>
        
        
        
        
        <script src="/static/mooncake/page-loading/js/classie.js"></script>
        <script src="/static/mooncake/page-loading/js/svgLoader.js"></script>
        <script src="/static/mooncake/page-loading/js/snap.svg-min.js"></script>

    </head>

  <body >
<div id='pagewrap'>

    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" class="active"></li>
          <li data-target="#carouselExampleIndicators" ></li>
          <li data-target="#carouselExampleIndicators" ></li>
          <li data-target="#carouselExampleIndicators" ></li>
          <li data-target="#carouselExampleIndicators" ></li>
          <li data-target="#carouselExampleIndicators" ></li>
          <li data-target="#carouselExampleIndicators" ></li>
          <li data-target="#carouselExampleIndicators" ></li>
          <li data-target="#carouselExampleIndicators" ></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active" style="background-image: url('/static/mooncake/media/v3.jpg')">
           <div class="carousel-caption d-none d-md-block">
            <a href="#carouselExampleIndicators" role="button"  id='nextbutton'>
               <button type="button" id="countdown" disabled class="btn btn-lg btn-primary">Go in  s
               </button>
               </a>

           </div>
           </div>
          </div>  

        </div>
<!--         <a class="carousel-control-prev pageload-link" href="#carouselExampleIndicators" role="button"  id='_prev'>
          <span class="carousel-control-prev-icon" aria-hidden="true" style="background-image:url('/static/mooncake/media/left.png')"></span>
          <span class="sr-only">Previous</span>
        </a> -->
        <div id='nav_button'>
          <a class="carousel-control-next pageload-link" href="#carouselExampleIndicators" role="button"   id='_next'>
            <span class="carousel-control-next-icon" aria-hidden="true" style="background-image:url('/static/mooncake/media/right_v2.png');width: 50px;height: 50px;"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

      </div>
    </header>


    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; LSK Hall 2017</p>
        <p class="m-0 text-center text-white">In case of any technical issues, please contact Shawn (8th Floor Tutor): 95657865</p>
      </div>
      <!-- /.container -->
    </footer>
</div> <!-- pageWrap -->
<!-- Modal -->
<div id='ads_modals'>

</div>
<div id='confirm_modals'>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">We've received your registration.</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id='exampleModalBody'>
          Note that one resident of LSK could only claim once.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>



 <div class="modal fade login" id="loginModal">
      <div class="modal-dialog login animated">
          <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Registration form</h4>
            </div>
            <div class="modal-body">  
                <div class="box">
                     <div class="content">
                        <div class="error"></div>
                        <div class="form loginBox">
                            <form method="post" id='myform' accept-charset="UTF-8">
                               {% csrf_token %}
                            <div class="form-group">
                                <label for="cake">Cake list:</label>
                                <select class="form-control" form='myform' id='cake' name='cake'>
                                    <option value='arome'>Arome</option>
                                    <option value='keewah'>Kee Wah</option>
                                    <option value='wingwah'>Wing Wah</option>
                                </select>
                            </div>
                            <div id='water-select'>
                                <div class="division">
                                    <div class="line l"></div>
                                      <span>Water(also free)</span>
                                    <div class="line r"></div>
                                </div>
                                <div class="social">
                                    <img class="img-circle" src="/static/mooncake/media/producta.jpg">
                                    <img class="img-circle" src="/static/mooncake/media/productb.jpg">
                                </div>
                                <div class="form-group">
                                    <select class="form-control" form='myform' id='water' name='water'>
                                        <option value='producta'>willow</option>
                                        <option value='productb'>fONT DOR</option>
                                    </select>
                                </div>
                            </div>
                            <input class="btn btn-default btn-login" type="button" value="Next" id='fake_submit'>
                            </form>
                        </div>
                     </div>
                </div>
            </div>       
        </div>
    </div>
</div>
<div class="modal fade login" id="recogModal">
      <div class="modal-dialog login animated">
          <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">One more question</h4>
            </div>
            <div class="modal-body">  
                <div class="box">
                     <div class="content">
                        
                        <div class="form loginBox">
                            <form method="post" id='recogForm' accept-charset="UTF-8">
                               {% csrf_token %}
                            <div id='water-select'>
                                <div class="division">
                                    
                                      <span>Click the one that you've seen in the previous images</span>
                                    
                                </div>
                                <div class="social">
                                  <label>
                                    <input type="radio" name="fb" value='producta'/>
                                    <img class="img-circle" src="/static/mooncake/media/producta.jpg">
                                  </lable>
                                  <label>
                                    <input type="radio" name="fb" value='productb'/>
                                    <img class="img-circle" src="/static/mooncake/media/productb.jpg">
                                  </lable>
 
                                </div>
                                <div class='social'>
                                 <label>
                                    <input type="radio" name="fb" value='productc'/>
                                    <img class="img-circle" src="/static/mooncake/media/productc.jpg">
                                  </lable>
                                  <label>
                                    <input type="radio" name="fb" value='productd'/>
                                    <img class="img-circle" src="/static/mooncake/media/productd.jpg">
                                  </lable>
                                </div>
                            </div>
                            <input class="btn btn-default btn-login" type="button" value="Submit" id='submit'>
                            </form>
                        </div>
                     </div>
                </div>
            </div>       
        </div>
    </div>
</div>

<div class="modal fade login" id="recogTipsModal">
      <div class="modal-dialog login animated">
          <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">One more question</h4>
            </div>
            <div class="modal-body">  
                <div class="box">
                     <div class="content">
                        
                        <div class="form loginBox">
                            <form method="post" id='recogForm' accept-charset="UTF-8">
                               {% csrf_token %}
                            <div>
                                <div class="division">
                                    
                                      <span>Could you identify which of the following you've seen in the previous images</span>
                                    
                                </div>
                            </div>
                            <input class="btn btn-default btn-login" type="button" value="Ready!" id='tipsSubmit'>
                            </form>
                        </div>
                     </div>
                </div>
            </div>       
        </div>
    </div>
</div>
 <div class="modal fade login" id="confirmModal">
      <div class="modal-dialog login animated">
          <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Registration form</h4>
            </div>
            <div class="modal-body">  
                <div class="box">
                     <div class="content">
                        <div class="error"></div>
                        <div class="form loginBox">
                            <form method="post" id='myform' accept-charset="UTF-8">


                            <input class="btn btn-default btn-login" type="button" value="Return to index" onclick='window.location.replace("http://dl380a.cs.cityu.edu.hk/mooncake/");'>
                            </form>
                        </div>
                     </div>
                </div>
            </div>       
        </div>
    </div>
</div>
      <div id="loader" class="pageload-overlay" data-opening="M20,15 50,30 50,30 30,30 Z;M0,0 80,0 50,30 20,45 Z;M0,0 80,0 60,45 0,60 Z;M0,0 80,0 80,60 0,60 Z" data-closing="M0,0 80,0 60,45 0,60 Z;M0,0 80,0 50,30 20,45 Z;M20,15 50,30 50,30 30,30 Z;M30,30 50,30 50,30 30,30 Z">
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none">
          <path d="M30,30 50,30 50,30 30,30 Z"/>
        </svg>
      </div><!-- /pageload-overlay -->


<script type="text/javascript">
$.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
});
</script>




  </body>


</html>
